@tailwind base;
@tailwind components;
@tailwind utilities;

.container-box {
  width: 1272px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Black.ttf') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Light.woff2') format('woff2');
  font-style: normal;
}
 

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2');
  font-style: normal;
}
 
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('./assets/fonts/PR_Root/PT-Root-UI_Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('./assets/fonts/PR_Root/PT-Root-UI_Light.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('./assets/fonts/PR_Root/PT-Root-UI_Medium.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('./assets/fonts/PR_Root/PT-Root-UI_Regular\ \(1\).woff2') format('woff2');
  font-style: normal;
}


.fontm {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: 'PT Root UI', sans-serif;
}

.line {
  line-height: normal;
}